
.carousel {
	margin-top: 50px;

}

.carousel-item  img{
	width: 60%;
	margin-left: 15%;
	margin-right: 15%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	filter: invert(100%);
}

.row {
	margin-top: 10px;
}
	
.content-box {
	margin: 5px;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #f0ffff;
}

.content-box img {

	width:100px;
	margin-left: 10px;
	margin-right: 10px;
}

.content-box p {
	text-align: center;
}

footer {
	margin-top: 10px;
	background-color: #333333;
	color: white;
	text-align: center;

}
.ownbackground {
	background-image: url('map.jpg');
	background-size: cover;
	width: 300px;
	height: 200px;
	transition: width 3s;
}
.ownbackground:hover {
	width: 600px;
}
	
